# macOS
.DS_Store

# Bundler
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor

# Ruby
Gemfile.lock

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.xdv
latex/linear-algebra/main.pdf
latex/linear-algebra/main-ch1.pdf

# npm packages
node_modules
package-lock.json

# IDE
.idea
.vscode

# Misc
*.swp
~*
*~
